helm-creds.yaml
license.secret
kubeconfig_*
*terraform.tfstate*
__pycache__
aws/.terraform*
aws/variables*
aws/aws-auth*
az/.terraform*
az/variables*
gcp/.terraform*
gcp/variables*
gcp/key.json
*.swp
*.info
commit
*.csv
*.log
*.java
tags
.DS_Store
.exrc
bbclient/out
