helm-creds.yaml
sfdc-creds.yaml
starburstdata.license
kubeconfig_*
.demosvc.swp
.commit.swp
.demosvc.py.swp
.gitignore.swp
*terraform.tfstate*
__pycache__
aws/.terraform*
aws/variables*
aws/aws-auth*
az/.terraform*
az/variables*
gcp/.terraform*
gcp/variables*
gcp/key.json
*.swp
*.info
commit
ldaplaunch.sh
*.csv
*.log
